#inspector {
  position: absolute;
  width: 14%; 
  height: 90%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  z-index: 0;
  border-style: solid;
  border-width: 1px;
  display: block;
}

#graphProperties {
  position: relative;
  width: 98%; 
  height: auto;
  margin: 1%;
  z-index: 0;
}

#layoutOptions {
  position: relative;
  width: 98%; 
  margin: 1%;
  z-index: 0;
}

#cy {
  position: absolute;
  width: 84.5%; 
  height: 90%;
  margin: 0.5% 0.5% 0.5% 15%;
  z-index: 0;
  border-style: solid;
  border-width: 1px;
}

#fileName {
	position: relative;
	float: right;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.form-control:focus,.form-control:active {
   outline: none !important;
   box-shadow: none;
}